

.blog_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-top-content{
    text-align: center;
    margin-bottom: 100px;
}

.blog_item{
    width: 30%;
    padding: 30px 25px;
    background: var(--card-bg);
    border-radius: 0.9rem;
    cursor: pointer;
}

.blog_item h3{
    color: #fffff1;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.blog_img img{
    width: 100%;
    margin-bottom: 20px;
}

.blog_desc{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.learn_more i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.blog_item:nth-child(2) .blog_img{
    margin-top: -100px;
    margin-bottom: -10px;
}

.blog_item:nth-child(2){
    width: 33%;
    margin-top: -80px;
}

